@model List<Assigne>
<head>
    <title>Assigne List</title>
</head>
<body>
    <h2><strong>Assigne List</strong></h2>
    <form action="/ListAssigne" method="post" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" name="Name" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a asp-controller="Assigne" asp-action="AddAssigne" style="font-size:25px">Click to be an assigne</a>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>CreationDate</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Model)
            {
                <tr>
                    <td>@todo.Id</td>
                    <td>@todo.Name</td>
                    <td>@todo.CreationDate</td>
                    <td><a href="@todo.Id/deleteAssigne" class="btn btn-danger">Delete</a></td>
                    <td><a href="@todo.Id/edit/Assigne" class="btn btn-success">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>


