@model List<Assigne>
<head>
    <title>Assignee List</title>
</head>
<body>
    <h2><strong>Assignee List</strong></h2>
    <form action="/ListAssigne" method="post" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" name="Name" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a asp-controller="Assigne" asp-action="AddAssigne" style="font-size:25px">Click to be an assigne</a>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Todos</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var assign in Model)
            {
            <tr>
                <td>@assign.Id</td>
                <td>@assign.Name</td>
                @foreach (var item in assign.Todos)
                {
                    <td>@item</td>
                }
                <td><a href="@assign.Id/deleteAssigne" class="btn btn-danger">Delete</a></td>
                <td><a href="@assign.Id/edit/Assigne" class="btn btn-success">Edit</a></td>
            </tr>
            }
        </tbody>
    </table>
</body>


