@model List<BankAccount>
@{
    ViewData["Title"] = "LionKing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LionKing</h2>

<table style="border: 1px solid black">
    <thead style="border: 1px solid black">
        <tr><th colspan="6"; text-align="center">Bank Of Animals</th></tr>
    </thead>
    <tbody style="border: 1px solid black"; padding="20px">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Balance</td>
            <td>Type</td>
            <td>King</td>
            <td>GoodOrBad</td>
        <tr>
            @for (int i = 0; i < Model.Count; i++)
            {
            <tr style="border: 1px solid black"; padding="20px">
                <td style="border: 1px solid black"; padding="20px">@i</td>
                <td style="border: 1px solid black"; padding="20px">@Model[i].Name</td>
                <td style="border: 1px solid black"; padding="20px">@Model[i].Balance</td>
                <td style="border: 1px solid black"; padding="20px">@Model[i].AnimalType</td>
                <td style="border: 1px solid black">@Model[i].IsKing</td>
                <td style="border: 1px solid black", padding="20px">
                @if (Model[i].IsGood)
                {
                    <p>Goodguy</p>
                }
                else
                {
                    <p>Badguy</p>
                }
                </td>
            </tr>
            } 
        </tbody>
</table>
<form action="/AddCurrency" method="post">
    <select name="id">
        @for (var i = 0; i < Model.Count; i++)
        {
            <option type="number" value="@i">@i</option>
        }
    </select>
    <button type="submit" value="submit">Submit</button>
</form>
