@model List<BankAccount>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h2 style="font-family:Broadway">LionKing - bank for the Biggests</h2>
    <div class="container">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Type</th>
                    <th>King</th>
                    <th>Good/Bad</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Balance</td>
                        <td>@Model[i].AnimalType</td>
                        <td>@Model[i].IsKing</td>
                        @if (Model[i].IsGood)
                        {
                            <td>Bad Guy</td>
                        }
                        else
                        {
                            <td>Good Guy</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 40%">Best Investments</div>
            <div class="progress-bar progress-bar-warning" style="width: 40%">Great Offers</div>
            <div class="progress-bar progress-bar-info" style="width: 17%">Personal Help</div>
            <div class="progress-bar progress-bar-danger" style="width: 3%">Fees</div>
        </div>
        <form action="/AddCurrency" method="post">
            <select name="id">
                @for (var i = 0; i < Model.Count; i++)
                {
                    <option type="number" value="@i">@i</option>
                }
            </select>
            <button type="submit" value="submit">Submit</button>
        </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </div>
</body>
