@model GiraffeModel
@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li href="">Information</li>
</ul>
<img src="~/images/giraffe.jpg" width="400" height="400"/>
<p>This is Mr @Model.Name. He loves @Model.Food and @Model.Drink. He knows @Model.TheTricks.Count tricks.</p>
<h2>Known tricks</h2>
<ul>
    @for (int i = 0; i < @Model.TheTricks.Count; i++)
    {
        <li>@Model.TheTricks[i]</li>
    }
</ul>